matplotlib==3.3.4
# torch==1.11.0
# torchvision==0.11.0
setuptools==52.0.0
albumentations==0.5.2
PyYAML==6.0
easydict==1.9
tensorboard==2.8.0
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
albumentations==0.5.2
# mmcv-full==1.6.2
timm==0.6.11
Cython==0.29.32
loguru
protobuf==3.20.3
pycocotools
einops
